h1 {
    color: rgb(152, 113, 40);
    text-align: center;
    border-bottom: 2px solid rgb(152, 113, 40);

    }
    

button{
    color: rgb(152, 113, 40);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: none;
}

.menu-bar{
   margin: auto;
   align-items: center;
   justify-content: center;
  
}